<!DOCTYPE html>
<html>
<head>
    <title>Plotly</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div id="test"></div>
    <script>
        var url = "/tourism_revenue";

        Plotly.d3.json(url, (err, raw) => {
            var lon = raw.features.map(f => f.geometry.coordinates[0]);
            var lat = raw.features.map(f => f.geometry.coordinates[1]);

            var data = [
                { type: "scattermapbox", lon: lon, lat: lat, hoverinfo: "lon+lat" }
            ];

            var layout = {
                mapbox: { style: "dark", zoom: 2, center: { lon: -150, lat: 60 } },
                margin: { t: 0, b: 0 }
            };

            var config = {
                mapboxAccessToken: 'pk.eyJ1IjoiZXdhdHhjIiwiYSI6ImNrbGxpbGp6bzAwZzgycGxrNjFyNTc5eXAifQ.NgdJ1jamht2ouPfqBbpe6Q',
                responsive: true
            };

            Plotly.newPlot('test', data, layout, config);
        });
    </script>
</body>
</html>
